kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
featureGates:
  "DynamicResourceAllocation": true
  "DRAConsumableCapacity": true
  "DRAAdminAccess": true
nodes:
- role: control-plane
  image: kindest/node:v1.34.0
  extraMounts:
{{EXTRA_MOUNTS}}
  kubeadmConfigPatches:
  - |
    kind: KubeletConfiguration
    featureGates:
      DynamicResourceAllocation: true
      DRAConsumableCapacity: true
      DRAAdminAccess: true
  labels:
    nvidia.com/gpu.present: "true"
